<body id="contact-page">
    {{> nav-customer }}

    <div class="container" id="contact-container" data-aos="flip-down">
        <div class="row text-center">
            <div class="col s12">
                <h5>We value the feedback and queries from all our customers.</h5>
                <h6>Your messages will be answered in a
                    timely
                    fashion.</h6>
                <form action="/burger/add" method="POST">
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input type="text" id="name" class="validate" name="name">
                        <label for="name">Your Name</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">email</i>
                        <input type="email" id="email" class="validate" name="email">
                        <label for="email">Your Email</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">phone</i>
                        <input id="phone" type="tel" class="validate" name="phone">
                        <label for="phone">Your Telephone</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">message</i>
                        <textarea id="message" class="materialize-textarea" cols="20" rows="20" class="validate"
                            name="message"></textarea>
                        <label for="message">Your Message</label>
                    </div>
                    <div class="input-field center">
                        <button class="btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{> footer}}

</body>