<!-- footer -->
<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6" id="footer-content">
                <ul>
                    <li><i class="fas fa-map-marker-alt"> </i>
                        <span> <a href="https://goo.gl/maps/V4oh4FAjNtLAaMNi7"> 1135 S Beverly Dr
                                Los Angeles, CA 90035</a>
                        </span>
                    </li>
                    <li> <i class="material-icons">phone_forwarded</i><span><a href="tel:3103654865">310 365
                                4865</a></span>
                    </li>
                    <li> <i class="material-icons">email</i><span>
                            <a href="mailto:trnrtim@aol.com">trnrtim@aol.com</a>
                        </span>
                    </li>
                </ul>
                <div>
                    <a href="https://www.facebook.com/trainertimgreen/"><i class="fab fa-facebook-square"></i></i></a>
                    <a href="https://twitter.com/trainertim59"> <i class="fab fa-twitter-square"></i></a>
                    <a href="https://www.youtube.com/user/TrnrTim"> <i class="fab fa-youtube-square"></i></a>
                </div>
            </div>



            <div class="col s12 m6 l6">
                <form class="footer-form">
                    <div class="input-field">
                        <i class="material-icons prefix">email</i>
                        <input type="email" id="email" class="validate">
                        <label for="email">Your Email</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">phone</i>
                        <input id="icon_telephone" type="tel" class="validate">
                        <label for="icon_telephone">Your Telephone</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">message</i>
                        <textarea id="message" class="materialize-textarea" cols="20" rows="20"
                            class="validate"></textarea>
                        <label for="message">Your Message</label>
                    </div>
                    <div class="input-field center">
                        <button class="btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey darken-4">
        <div class="container center-align">&copy; 2019 The Healing Arts Center</div>
    </div>
</footer>