{{> nav-customer }}
<!-- menu -->
<div class="row" id="menu">

    <div class="col s6 m6 l3">
        <h4 data-aos="fade-down"><a href="/services">Meditation</a></h4><img
            src="assets/img//adrian-motroc-DhIarbBYCWU-unsplash.jpg" alt="meditaion" data-aos="fade-up">
    </div>
    <div class="col s6 m6 l3">
        <h4 data-aos="fade-down" data-aos-delay="200"><a href="/services">Healing</a></h4><img
            src="assets/img/darius-bashar-xMNel_otvWs-unsplash.jpg" alt="healing" data-aos="fade-up"
            data-aos-delay="200">
    </div>
    <div class="col s6 m6 l3">
        <h4 data-aos="fade-down" data-aos-delay="400"><a href="/services">Massage</a></h4><img
            src="assets/img/female-relaxing-at-spa.jpg" alt="massage" data-aos="fade-up" data-aos-delay="400">
    </div>
    <div class="col s6 m6 l2">
        <h4 data-aos="fade-down" data-aos-delay="600"><a href="/services">Rehabilitation</a></h4><img
            src="assets/img/toa-heftiba-a9pFSC8dTlo-unsplash.jpg" alt="rehabilitation" data-aos="fade-up"
            data-aos-delay="600">
    </div>
</div>

<section id="about">
    <div class="row">
        <div class="col s12 m6" data-aos="fade-right">
            <div class="center-align">
                <h5 class="indigo-text text-darken-4">Welcome to The Healing Arts Center</h5>
                <h6>Beverly Hills</h6>
            </div>
            <p>The Healing Arts Center was created by Tim Green. The idea behind it was to create a space/sanctuary that
                promotes healing, nurturing, motivation, and creativity to provide non-judgemental and accepting
                environment that allows whoever enters to express themselves, release fears, stress, and longtime
                baggages. To honor the space and everyone who enters. To allow abundance. To flow through the space. To
                bless and clean the space, as well as to create a light that brings to people a spiritual,
                an emotional, and a physical healing.</p>

        </div>
        <div class="col s12 m5" data-aos="fade-left" data-aos-delay="200" id="massage-benefits">
            <h5 class="center-align">Benefits of Massage</h5>
            <ol>
                <li>Reduce Stress</li>
                <li>Improve Circulation</li>
                <li>Reduce Pain</li>
                <li>Eliminate Toxins</li>
                <li>Reduce Fatique</li>
                <li>Enhance Immunity</li>
                <li>Speeds Healing</li>
                <li>Joint Mobilization</li>
            </ol>
        </div>
    </div>
</section>


{{>footer}}