{{> nav-customer }}


<body id="team-body">
    <section class="section container">
        <div class="row">
            <div class="col s12">
                <h2 class="text-center" data-aos="fade-up-right">Our Team</h2>
                <div class="about-content" data-aos="zoom-out-right">
                    <img src="/assets/img/Tim.jpg">
                    <h5>Tim Green</h5>
                    <p>Tim Green grew up in Ohio where his parents instilled the belief, “Everything is possible for
                        those
                        who work hard”. He has been a celebrity trainer for many years and contributes to most of the
                        leading fitness magazines, including Self, Shape and Fit Pregnancy. He was the fitness editor of
                        Golf Magazine and the resident fitness director for the hit show “90210”.

                    </p>
                    <p>Tim’s ongoing experience working with children’s organizations and his work with kids from the
                        inner
                        city to the wealthiest communities has led him to believe that the common need all children have
                        is
                        to be loved and nurtured.</p>
                    <p>He has created a character called “Trainer Tim”. As this character, he tells children how their
                        health and fitness affects their bodies, schoolwork, playtime and, in fact, their entire lives.
                        His
                        positive influence builds their self-esteem, elevates their motivation and helps them improve
                        their
                        overall health.</p>

                </div>
            </div>
            <div class="col s12" data-aos="zoom-out-left">
                <div class="about-content">
                    <img src="/assets/img/Mayadah.jpg">
                    <h5>Mayadah Moussa</h5>
                    <p>Mayadah Moussa is a Master Energist of the esoteric arts. She is an extra sensory
                        practitioner that utilizes her unique abilities to determine the root causes of
                        illnesses,
                        issues, patterns, and blocks of all kinds.</p>
                    Her customized style of treatment has proven to be extremely effective in transforming a
                    wide range of conditions.
                    <p> Please contact directly to schedule a free consultation to determine if you are a
                        candidate.
                        Rate per hour 160.00</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</p>

                </div>
            </div>
        </div>
    </section>
</body>

{{>footer}}