{{> nav-customer }}


<body id="team-body">
    <section class="section container">
        <div class="row">
            <div class="col s12">
                <h2 class="text-center" data-aos="fade-up-right">Our Team</h2>
                <div class="team-content" data-aos="zoom-out-right">
                    <img src="/assets/img/Tim.jpg">
                    <h5>Tim Green</h5>
                    <p>Tim Green grew up in Ohio where his parents instilled the belief, “Everything is possible for
                        those
                        who work hard”. He has been a massage therapist for 32 years and personal trainer for 40 years.
                        Tim loves what he does and have been dedicated to the profession 100%. That is what sets him
                        apart from most. He created "The Healing Arts Center" to invite people to come and experience
                        positive change spiritually, physically, and emotionally. Tim does intuitive body work,
                        meditations, energy boost sessions, as well as functional movement. The prices for his services
                        range from $75-$200 a session. </p>
                    <p>Tim also has been a celebrity trainer for many years and contributes to most of the
                        leading fitness magazines, including Self, Shape and Fit Pregnancy. He was the fitness
                        editor of
                        Golf Magazine and the resident fitness director for the hit show “90210”.</p>

                </div>
            </div>
            <div class="col s12" data-aos="zoom-out-left">
                <div class="team-content">
                    <img src="/assets/img/Mayadah.jpg">
                    <h5>Mayadah Moussa</h5>
                    <p>Mayadah Moussa is a Master Energist of the esoteric arts. She is an extra sensory
                        practitioner that utilizes her unique abilities to determine the root causes of
                        illnesses,
                        issues, patterns, and blocks of all kinds.</p>
                    Her customized style of treatment has proven to be extremely effective in transforming a
                    wide range of conditions.
                    <p> Please contact directly to schedule a free consultation to determine if you are a
                        candidate.
                        Rate per hour 160.00</p>


                </div>
            </div>
        </div>
    </section>
</body>

{{>footer}}