html{
  scroll-behavior: smooth;
}


body {
  font-family: 'El Messiri', sans-serif;
  font-size: 14px; 
}

/* nav */

.nav-wrapper{
  background-color: #5c6bc0;
}

/* menu section */

#menu img{
  height: 500px;
  margin-top:10px;
  box-shadow: 5px 5px 5px rgba(14, 13, 13, 0.5);
}

#menu img:hover{
  box-shadow: 15px 15px 15px rgba(14, 13, 13, 0.5);
transform: translate(5px,10px);
cursor: pointer;
transition: box-shadow 1s, transform 1s;
}
#menu h4{
  position: absolute;
  z-index: 1;
  margin-top: 450px;
  background-color: rgba(83, 88, 133, 0.384);
  color: white;
  padding: 10px;
  border-radius: 0 50px 0 50px;
  width:290px;
  text-align: center;
}

#about{
  margin-left: 50px;
}

#massage-benefits{
  margin-top: 50px;
  margin-left: 50px;
  border:1px solid black;
}

ol {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}


/* footer */

.fas{
  position: relative;
  font-size:2rem;
}

.fab{
  font-size:2rem;
}

.material-icons, .fas{
  margin-right:10px;
  position: relative;
}


.footer-form{
  margin-left:40px;
  width: 100%;
}

.container{
width: 80%;
}

#footer-content{
  padding:20px;
}

a{
  color: white;
}

.page-footer{
  padding:0;
}

.btn{
  background-color: #5c6bc0;
}

.btn.appointment{
  background-color: #1f295e;
}


/* team page */


.parallax-container{
 height: 750px;
}

.parallax h3{
 margin-top: 100px;
 position: relative;
 z-index: 100;
 text-align: center;
 color: aliceblue;
 font-weight: bold;
}

.team-member{
  margin-top:200px;
  background-color: aliceblue;
  border: 30px solid aliceblue;
}

.team-member img{
  width: 200px;
  text-align: center;
  float: left;
  padding-right: 20px;
}
span {
  padding-top: 10px;
  display: inline-block;
}


/* Ipad-responsiveness */

@media screen and (max-width: 800px) {
  /* index */
  #menu img,  #menu h4{
      margin-left: 40px;
  }
  .team-member{
      margin-top:100px;
  }
  .parallax-container{
      height: 950px;
   }

   /* team */
   .team-member{
      margin-top:10px;
  }

  .about-team{
      margin-top:200px;
  }

}

/* Mobile-responsiveness */
@media screen and (max-width:670px){

  /* index */
  #menu img{
      height: 300px;
  }

  #menu h4{
      margin-top: 270px;
      position: absolute;
      font-size: 25px;
      width:170px;
  }
  
  #massage-benefits,#about{
      margin-top: 10px;
      margin-left: 0;
  }

  nav .brand-logo{
      font-size:18px;
  }

  .footer-form{
      margin-left:10px;
  }

  /* team */
  .team-member{
      margin-top:10px;
  }

  .team-member img{
      width: 100px;
  }

  .parallax-container{
      height: 1000px;
   }

   .about-team{
      margin-top:10px;
  }
  
}