{{> nav-customer }}

<section class="services-hero">
    <div class="hero-inner">
        <h1 data-aos="fade-down">Service Menu</h1>
    </div>
</section>

<div class="services container" data-aos="fade-up">
    <div class="row">
        <div class="col s12 m12 l6">
            <div class="services-content">
                <img src="/assets/img/massage.jpg">
                <h5>Massages</h5>
                <div class="massage_type1">
                    Aromatherapy.................................................................
                    <span class="mas_dur_1">60
                        mins</span></div>
                <div class="massage_type2">Deep
                    tissue...................................................................... <span
                        class="mas_dur_2">60 mins</span></div>
                <div class="massage_type3">
                    Sports................................................................................ <span
                        class="mas_dur_3">40 mins</span></div>
                <div class="massage_type4">
                    Trigger point....................................................................
                    <span class="mas_dur_4">30
                        mins</span></div>
            </div>
        </div>
        <div class="col s12 m12 l6">
            <div class="services-content">
                <img src="/assets/img/meditation.jpg">
                <h5>Meditation</h5>
                <div class="meditation_type1">
                    Mindfulness....................................................................
                    <span class="med_dur_1">30
                        mins</span></div>
                <div class="meditation_type2">Breath
                    awareness......................................................... <span class="med_dur_2">30
                        mins</span></div>
                <div class="meditation_type3">
                    Zen.................................................................................... <span
                        class="med_dur_3">40 mins</span></div>
                <div class="meditation_type4">
                    Transcendental..............................................................
                    <span class="med_dur_4">30
                        mins</span></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l6">
            <div class="services-content">
                <img src="/assets/img/rehab.jpg">
                <h5>Rehabilitation</h5>
                <div class="rehab_type1">
                    Occupational....................................................................
                    <span class="reh_dur_1">40
                        mins</span></div>
                <div class="rehab_type2">
                    Speech................................................................................ <span
                        class="reh_dur_2">60 mins</span></div>
                <div class="rehab_type3">
                    Physical.............................................................................. <span
                        class="reh_dur_3">30 mins</span></div>
            </div>
        </div>
        <div class="col s12 m12 l6">
            <div class="services-content">
                <img src="/assets/img/healing.jpg">
                <h5>Healing</h5>
                <div class="healing_type1">
                    Physical.............................................................................. <span
                        class="hea_dur_1">30
                        mins</span></div>
                <div class="healing_type2">
                    Mental................................................................................. <span
                        class="hea_dur_2">40 mins</span></div>
                <div class="healing_type3">
                    Emotional........................................................................... <span
                        class="hea_dur_3">40 mins</span></div>
                <div class="healing_type4">
                    Spiritual.............................................................................. <span
                        class="hea_dur_4">30
                        mins</span></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h4 class="text-center">Other Services</h4>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l6">
            <div class="other-services-content">
                <img src="/assets/img/trainer-tim.jpg">
                <h5>"Trainer Tim" books</h5>
                <p>Tim Green created a character called “Trainer Tim”. As this character, he tells children how
                    their health and fitness affects their bodies, schoolwork, playtime and, in fact, their entire
                    lives. His positive influence builds their self-esteem, elevates their motivation and helps them
                    improve their overall health.</p>
                <a class="waves-effect waves-light btn-small indigo lighten-1" href="http://trainertim.com/"
                    style="float: right">Learn More</a>
            </div>
        </div>
        <div class="col s12 m12 l6">
            <div class="services-content">
                <img src="/assets/img/phlebotomist.jpg">
                <h5>Mobile phlebotomist</h5>
                <div class="phlebotomy">
                    Your time and convenience are important priorities. Our services will eliminate the hassle, and
                    often the challenge, of scheduling and arranging for your blood draws. We have tailored our services
                    to fit the need of the homebound senior, the busy executive, as well as the fragile pediatric
                    patient. Call now to schedule a mobile phlebotomy service.</div>
            </div>
        </div>
    </div>
</div>
{{>footer}}